{% extends "blog_base.html" %}

{% block title %}{{ blog.caption }}{% endblock %}

{% block content %}
<div class="page-header">
                <h1>{{ blog.caption }}</h1>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    {{ blog.content }}
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>Published</h4>
                    <div class="date"><span>{{ blog.publish_time|date:"Y"}}-{{ blog.publish_time|date:"m"  }}-{{ blog.publish_time|date:"d" }}</span></div>
                    <br>
                    <h4>Category</h4>
                    <ul class="tag_box">
                        <li><a href="{% url 'blog:blog_categories' %}#{{ blog.category }}">{{ blog.category }}<span>{{ blog.category.blog_set.count }}</span></a></li>
                    </ul>
                    <h4>Tags</h4>
                    <ul class="tag_box">
                        {% for tag in blog.tags.all %}
                        <li><a href="{% url 'blog:blog_tags' %}#{{ tag }}">{{ tag }}<span>{{tag.blog_set.count}}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% endblock %}
