{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
    <title>{% block title %} blog_base {% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'blog:blog_home' %}">MonoWin</a>
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'blog:blog_archive' %}">Archive</a></li>
                        <li><a href="{% url 'blog:blog_categories' %}">Categories</a></li>
                        <li><a href="{% url 'blog:blog_tags' %}">Tags</a></li>
                        <li><a href="{% url 'blog:blog_webapps' %}">WebAPPs</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Subscribe</a></li>
                        <li><a href="{% url 'blog:blog_aboutme' %}">About Me</a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>Copyright © Shawn Xiao 2013 - Powered by Python, Django and Python-Markdown</p>
        </footer>
    </div>
</body>
</html>
